{{>partials/header}}

<div class="container list">
   
</div>

<!-- Criando a pagina 404 - não encontrada-->

<div class="container no-list">
    <h2>Página Não Encontrada.</h2>
</div>

{{>partials/footer}}